{% extends "base.html" %}
{% block title %}
  About
{% endblock %}
{% block content %}
  <h1>About</h1>
  <p>
    Blogicum is a home for creative people. It is a community for those who see
    no boundary between blogging and friendship in social networks.
  </p>
  <p>
    Friendship and stories about new experiences define this platform. Explore
    countless blogs on travel, politics, entertainment, fashion, literature,
    design, and many other fields of human activity.
  </p>
  <p>
    Creativity, diversity, and freedom of thought and self-expression are the
    core traits of our community.
  </p>
{% endblock %}
