{% extends "base.html" %}
{% block title %}
  Our Rules
{% endblock %}
{% block content %}
  <h1>Our Values</h1>
  <p>
    <b>Self-expression.</b> Our users should always have a chance to create
    something of their own and express their thoughts and feelings.
  </p>
  <p>
    <b>Diversity.</b> We respect and welcome different opinions and cultures.
    Blogicum brings together people with very different backgrounds. Share
    your unique view of the world.
  </p>
  <p>
    <b>Creativity.</b> Whatever your field may be, from literature to design to
    programming, our tools are built to help you reveal your talent in a simple
    and comfortable way.
  </p>
  <p>
    <b>Privacy.</b> We keep your personal thoughts private. Share your
    information only with the people you choose. You decide how private your
    personal data should be.
  </p>
{% endblock %}
